{% extends 'travel/base.html' %}

{% block content %}
    <h1 class="mb-4 text-primary">Share Your Trip with Others</h1>

    <div id="viewer-form">
        {% include 'partials/viewer_form.html' %}
    </div>

    <div class="my-4">
        <button type="button" class="btn btn-success me-2" 
        hx-get="{% url 'create-viewer' pk=trip.id %}"
        hx-target="#viewer-form"
        hx-swap="beforeend">+ Add Another Email</button>

        <button tupe="button" class="btn btn-primary" id="submit-all">Submit All</button>
    </div>

    <ul id="viewer-list" class="list-group">
        {% for viewer in viewers %}
            {% include 'partials/viewer.html' %}
        {% endfor %}
    </ul>

{% endblock %}
