{% extends "travel/base.html" %}
{% load static %}
    {% block content %}
    <div class="row">
        <div class="col">
            <h1 class="mb-5">TravelBook</h1>
        </div>
        <div class="col text-end">
            <span class="material-symbols-outlined filter" style="cursor: pointer;">
                filter_list
            </span>
        </div>
    </div>

    {% load crispy_forms_tags %}
    <div class="row filter_list">
        <div class="col">
            <form method="GET">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ filter.form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container d-flex flex-wrap">
        {% for trip in filter.qs %}
        <div class="col bg-light shadow-lg d-flex flex-column align-items-center m-5 pointer rounded" data-url="{% url 'trip-detail' pk=trip.id %}" onclick="redirectToUrl(this)">
            <div class="p-4">
                {% if trip.image %}
                    <img style="object-fit: cover; object-position: center center;"  src="{{ trip.image.url }}" width="200" height="200" alt="{{ trip.title }} Profile Picture">
                {% else %}
                    <img style="object-fit: cover; object-position: center center;" src="{% static 'trip_pics/default.png' %}" width="200" height="200" alt="{{ trip.title }} Profile Picture">
                {% endif %}
            </div>
            <div class="p-2">
                <h3>{{ trip.title }}</h3>
            </div>
            {% if trip.date_from and trip.date_to %}
            <div class="p-2">
                <p>{{ trip.date_from }} - {{ trip.date_to }}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>



    <div class="add_container">
        <span class="material-symbols-outlined add" data-url="{% url 'trip-create' %}" onclick="redirectToUrl(this)">
            add_circle
        </span>
    </div>

    {% endblock content %}