{% extends "travel/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="card mb-5">
    <div class="d-flex">

        <!-- Poster Profile Picture, Name, and Timestamp -->

        <div class="p-2">
            <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{{ post.created_by.profile.image.url }}" width="50" height="50">
        </div>
        <div class="p-2">
            <div class="fw-bold">{{ post.created_by.profile.f_name }} {{ post.created_by.profile.l_name }}</div>
            <div class="text-muted"><small>
                {% if post_time_diff %}
                    {{ post_time_diff }}
                {% else %}
                    {{ post.created_on }}
                {% endif %}
            </small></div>
        </div>

        <!-- Location  -->

        <div class="ms-auto p-2 d-flex">
            <span class="material-symbols-outlined">
            location_on
            </span>
            {% if post.location %}
                <p><a href="{% url 'maps' post.location %}">{{ post.location }}</a></p>
            {% else %}
                <p>No location provided</p>
            {% endif %}
        </div>
    </div>

    <!-- Post Content and Images -->

    <div class="col d-flex p-3">
        <div class="justify-content-start">
            <p>{{ post.content }}</p>
        </div>
    </div>
    <div class="justify-content-center ms-auto me-auto">
        {% if post.image %}
            <img style="object-fit: cover; object-position: center center;" src="{{ post.image.url }}" class="post_image">
        {% endif %}
    </div>
    
    <!-- Likes and comments counter -->

    <div class="d-flex">
        {% if post.likes.count > 0 %}
            <div class="d-flex align-items-center">
                <span class="material-icons me-2 counter me-auto ms-5" style="color: #4444FF; font-weight: 600;">
                    thumb_up
                </span>
                <p class="counter mb-1 ms-1">{{ post.likes.count }}</p>
            </div>
        {% endif %}

        {% if post.comments.count > 0 %}
            <div class="d-flex align-items-center ms-auto me-5">
                <p class="counter mb-1">{{ post.comments.count}} {% if post.comments.count == 1 %} Comment {% else %} Comments {% endif %}</p>
            </div>
        {% endif %}
    </div>

    <!-- Like and comment buttons -->

    <div class="d-flex justify-content-around">
        <div class="mr-auto p-2 d-flex pointer" data-url="{% url 'post-like' post.id %}" onclick="redirectToUrl(this)">


            <!-- Change style based on whether user has liked the post or not -->

            {% if user in post.likes.all %}
                <span class="material-icons me-2" style="color: #4444FF; font-weight: 600;">
                    thumb_up
                </span>
                <p style="color: #4444FF; font-weight: 600;">Like</p>
            {% else %}
                <span class="material-symbols-outlined me-2">
                    thumb_up
                </span>
                <p>Like</p>
            {% endif %}
        </div>

        <!-- Comment button opens and closes comment form -->

        <div class="ml-auto p-2 d-flex pointer comment-button"
        hx-get="{% url 'add-comment' pk=post.id %}" hx-trigger="click" hx-target="#comment_form" hx-swap="outerHTML">
            <span class="material-symbols-outlined me-2">
                comment
            </span>
            <p>Comment</p>
        </div>


        <!-- Delete button if post was created by user -->

        {% if post.created_by == user %}

            <!-- Delete button changes style on hover -->

            <div class="delete_div p-2 d-flex pointer" 
                onmouseover="changeIcon(this, 'delete')"
                onmouseout="changeIcon(this, 'delete_outline')">
                <span class="material-icons pointer me-1" 
                    data-url="{% url 'post-delete' post.id %}" 
                    onclick="redirectToUrl(this)">
                    delete_outline
                </span>
                <p>Delete</p>
            </div>
        {% endif %}

    </div>
</div>

<div class="content-section" id="comment_form">
    
</div>


<!-- Comments List -->
<div id="comment_list">
    {% if comments %}
    <h2 class="mb-4">Comments</h2>
    {% endif %}
    {% include 'partials/comment.html' %}
</div>


    <!-- Comment Form -->


    <script>
        document.addEventListener("htmx:confirm", function(e) {
            const target = e.target;
            const deleteUrl = target.getAttribute("hx-delete");
            
            if (deleteUrl) {
                e.preventDefault();
                Swal.fire({
                    title: "Delete comment?",
                    text: `Are you sure you would like to delete this comment?`
                }).then(function(result) {
                    if(result.isConfirmed) {
                        e.detail.issueRequest(true);  // use true to skip window.confirm
                    }
                });
            }
        });
    </script>

{% endblock content %}

