{% extends "travel/base.html" %}
{% block content %}
<h1>{{ trip.title }}</h1>
<article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% for traveller in trip.travellers.all %}
                    <a class="mr-2" href="#">{{ traveller }}</a>
                {% endfor %}
                
            <small class="text-muted">{{ trip.created_on|date:'dS, F, Y'}}</small>
        </div>
     </div>
</article>
<a href="{% url 'travel-update' trip.id %}">Update</a>
<a href="{% url 'travel-delete' trip.id %}">Delete Trip</a>
<a href="{% url 'add-traveller' trip.id %}">Add Travel Companion</a>
<a href="{% url 'add-viewer' trip.id %}">Share Trip</a>
{% endblock content %}
