{% extends "travel/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Trip</legend>
                {% csrf_token %}
                <div>
                    {{ form.title|as_crispy_field }}
                </div>
                <div>
                    {{ form.image|as_crispy_field }}
                </div>
                <div class="d-flex">
                    <div class="me-md-5">
                        {{ form.date_from|as_crispy_field}}
                    </div>
                    <div class="ms-3 ms-md-0">
                        {{ form.date_to|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    
{% endblock content %}
