{% load static %}

<div class="d-flex align-items-center">
    <div class="p-2 flex-shrink-1">
        {% if request.user.profile.image %}
            <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{{ request.user.profile.image }}" width="50" height="50" alt="{{ request.user.profile.f_name }} Profile Picture">
        {% else %}
            <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{% static 'profile_pics/default.png' %}" width="50" height="50" alt="{{ request.user.profile.f_name }} Profile Picture">
        {% endif %}

    </div>
    <div class="p-2">

        <form 
            hx-post="{% url 'add-reply' pk=comment.id %}" 
            hx-target=".body"
            hx-on="htmx:afterRequest: this.remove()"
            hx-trigger="click from: #submit"
            class="d-flex align-items-center">
            {% csrf_token %}
            {{ reply_form.comment_id }}
            <div class="p-2">
                {{ reply_form.content }}
            </div>
            <div class="p-2">
                <button class="btn btn-outline-info" id="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>

</div>
