.filter_list {
    display: none;
}

.material-symbols-outlined, .pointer {
    cursor: pointer;
}

.material-symbols-outlined.add {
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-size: 50px;
    color: #06367A;
    cursor: pointer;
    text-shadow: #777777 2px 2px 5px;
    transition: all 200ms ease-in-out;
}

.material-symbols-outlined.add:hover {
    font-size: 60px;
    bottom: 25px;
    right: 30px;
    text-shadow: #777777 4px 4px 7px;
    transition: all 200ms ease-in-out;

}

.add_container {
    position: fixed;
    bottom: 20px;
    right: 50px;

}

.trip_profile_picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.trip_profile_picture {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.trip_profile_picture.last-img {
    margin: 0 10px 0 0;
}

.title_container {
    position: absolute;
    top: -20px;
    left: 35px;
    padding: 5px 0 5px 10px;
    background-color: #FFFFFF;
    border-radius: 35%;
    display: flex;
  }