.filter_list {
    display: none;
}

.material-symbols-outlined, .pointer {
    cursor: pointer;
}

.material-symbols-outlined.add {
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-size: 50px;
    color: #191970;
    cursor: pointer;
    text-shadow: #777777 2px 2px 5px;
    transition: all 200ms ease-in-out;
}

.material-symbols-outlined.add:hover {
    font-size: 60px;
    bottom: 25px;
    right: 30px;
    text-shadow: #777777 4px 4px 7px;
    transition: all 200ms ease-in-out;

}

.add_container {
    position: fixed;
    bottom: 20px;
    right: 50px;

}

.trip_profile_picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.trip_profile_picture {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.trip_profile_picture.last-img {
    margin: 0 10px 0 0;
}

.title_container {
    position: absolute;
    top: -20px;
    left: 35px;
    padding: 5px 0 5px 10px;
    background-color: #FFFFFF;
    border-radius: 35%;
    display: flex;
}

.counter {
    font-size: 16px;
}

.delete_div:hover {
    color: red;
}

.post_image {
    max-width: 300px;
    max-height: 300px;
}

.like_list {
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 20px; 
    width: 300px; 
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.d-none {
    display: none;
}

.hover {
    transition: background-color 0.3s ease;
}

.hover:hover {
    background-color: rgba(100, 100, 100, 0.5); /* Darkening effect */
}

@media (max-width: 576px) { /* Small devices (576px and below) */
    .material-symbols-outlined.add {
        right: -30px; /* Adjust this value to move it more to the right */
    }

    .material-symbols-outlined.add:hover {
        
        right: -20px;
        
    
    }
}